---
import Layout from "../../layouts/Layout.astro";
import SectionLabel from "../../components/SectionLabel.astro";
import Panel from "../../components/Panel.astro";
---

<Layout title="Music">
  <div class="page-shell">
    <SectionLabel code="MUS-001" label="Music" />

    <div class="work-grid">
      <Panel title="SS24" meta="EP · 2025" href="#" span="large" />
      <Panel title="Fear Survivor" meta="Album · 2023" href="#" offset />
      <Panel title="cicada" meta="Album · 2022" href="#" />
      <Panel title="Water" meta="Single · 2023" href="#" span="wide" />
    </div>
  </div>
</Layout>
